In [1]:
import pandas as pd
import numpy as np
import wrds

In [2]:
conn = wrds.Connection()

Enter your WRDS username [komalniraula]: kn2505
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  n

You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

In [3]:
years = list(range(1970, 2025))
df_list = []

for i, year in enumerate(years):
    print(f"Loading {year} ({i+1}/{len(years)})...")

    start_date = f"{year}-01-01"
    end_date = f"{year}-12-31"

    query = f"""
        SELECT 
            date,
            dff,
            effr
        FROM frb.rates_daily
        WHERE date BETWEEN '{start_date}' AND '{end_date}'
              AND (dff IS NOT NULL OR effr IS NOT NULL)
        ORDER BY date
    """

    df_year = conn.raw_sql(query, date_cols=['date'])
    df_list.append(df_year)

df_fedfunds = pd.concat(df_list, ignore_index=True)
df_fedfunds['fed_funds_rate'] = df_fedfunds['effr'].fillna(df_fedfunds['dff'])

df_fedfunds

Loading 1970 (1/55)...
Loading 1971 (2/55)...
Loading 1972 (3/55)...
Loading 1973 (4/55)...
Loading 1974 (5/55)...
Loading 1975 (6/55)...
Loading 1976 (7/55)...
Loading 1977 (8/55)...
Loading 1978 (9/55)...
Loading 1979 (10/55)...
Loading 1980 (11/55)...
Loading 1981 (12/55)...
Loading 1982 (13/55)...
Loading 1983 (14/55)...
Loading 1984 (15/55)...
Loading 1985 (16/55)...
Loading 1986 (17/55)...
Loading 1987 (18/55)...
Loading 1988 (19/55)...
Loading 1989 (20/55)...
Loading 1990 (21/55)...
Loading 1991 (22/55)...
Loading 1992 (23/55)...
Loading 1993 (24/55)...
Loading 1994 (25/55)...
Loading 1995 (26/55)...
Loading 1996 (27/55)...
Loading 1997 (28/55)...
Loading 1998 (29/55)...
Loading 1999 (30/55)...
Loading 2000 (31/55)...
Loading 2001 (32/55)...
Loading 2002 (33/55)...
Loading 2003 (34/55)...
Loading 2004 (35/55)...
Loading 2005 (36/55)...
Loading 2006 (37/55)...
Loading 2007 (38/55)...
Loading 2008 (39/55)...
Loading 2009 (40/55)...
Loading 2010 (41/55)...
Loading 2011 (42/55)...
Loading 2012 (43/55)...
Loading 2013 (44/55)...
Loading 2014 (45/55)...
Loading 2015 (46/55)...
Loading 2016 (47/55)...
Loading 2017 (48/55)...
Loading 2018 (49/55)...
Loading 2019 (50/55)...
Loading 2020 (51/55)...
Loading 2021 (52/55)...
Loading 2022 (53/55)...
Loading 2023 (54/55)...
Loading 2024 (55/55)...

/var/folders/m4/8tn_t7fn3n999rq0tn3djx1w0000gn/T/ipykernel_73976/197102795.py:24: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_fedfunds = pd.concat(df_list, ignore_index=True)

            date   dff  effr  fed_funds_rate
0     1970-01-01   5.0  <NA>             5.0
1     1970-01-02  9.63  <NA>            9.63
2     1970-01-03  9.63  <NA>            9.63
3     1970-01-04  9.63  <NA>            9.63
4     1970-01-05  9.75  <NA>            9.75
...          ...   ...   ...             ...
20084 2024-12-27  4.33  4.33            4.33
20085 2024-12-28  4.33  <NA>            4.33
20086 2024-12-29  4.33  <NA>            4.33
20087 2024-12-30  4.33  4.33            4.33
20088 2024-12-31  4.33  4.33            4.33

[20089 rows x 4 columns]

In [4]:
df_fedfunds[['date', 'fed_funds_rate']].to_csv('fed_rates.csv', index = False)